.spinner-overlay {
  position: fixed;
  padding-top: 1rem;
  bottom: 1rem;
  right: 2rem;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 33, 64, 0.95);
  z-index: 1000;
  border-radius: 8px;
}

p {
  color: #ffffff;
  margin-top: 0.5rem;
  text-align: center;
}
