<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Position Column -->
  <ng-container matColumnDef="vehicle">
    <mat-header-cell *matHeaderCellDef> Vehículo </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.vehiculo.patente }}
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="service">
    <mat-header-cell *matHeaderCellDef> Servicio </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.servicio.tipo }} </mat-cell>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date_end">
    <mat-header-cell *matHeaderCellDef> Fecha Límite </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.alerta.fecha_termino | date: "dd/MM/yyyy" }}
    </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
    <mat-cell *matCellDef="let element">
      {{ element.alerta.descripcion }}
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
