h1 {
  font-family: "Bai Jamjuree", sans-serif;
  font-weight: 500;
}

.father-container {
  margin: 2rem;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-row {
  cursor: pointer;
}

.mat-mdc-row.active {
  background-color: rgba(255, 90, 78, 0.04);
}

.mat-mdc-row:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

#statusContainer {
  display: flex;
  align-items: center;
  min-height: 3.2rem;
}

#statusContainer p {
  margin: 0;
  display: none;
}

#statusPoint {
  border-radius: 50%;
  margin-left: 1rem;
  height: 1rem;
  width: 1rem;
}

.status-color-ok {
  background-color: #c4f5b9;
}

.status-color-pending {
  background-color: #ffdfbf;
}

.status-color-reject {
  background-color: #ffd5dc;
}
